.component {
  padding-block: 2rem;
  margin-inline: 20px;

  @media (min-width: 768px) {
    margin-inline: 20vw;
  }
}

.title {
  font-size: 3rem;
  font-weight: 900;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--putty);
  text-decoration-thickness: 15px;
  text-underline-offset: -25%;
  margin-top: 0;
}
